version: "3.9"

services:
  backend:
    build: ./backend
    container_name: task-backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000

  frontend:
    build: ./frontend
    container_name: task-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
