apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: task-backend
  template:
    metadata:
      labels:
        app: task-backend
    spec:
      containers:
      - name: backend
        image: 299482271985.dkr.ecr.us-east-1.amazonaws.com/task-backend:1.0
        imagePullPolicy: Always
        ports:
          - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: LoadBalancer
  selector:
    app: task-backend
  ports:
    - port: 3000
      targetPort: 3000
