apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: task-frontend
  template:
    metadata:
      labels:
        app: task-frontend
    spec:
      containers:
      - name: frontend
        image: 299482271985.dkr.ecr.us-east-1.amazonaws.com/task-frontend:1.0
        imagePullPolicy: Always
        ports:
          - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: LoadBalancer
  selector:
    app: task-frontend
  ports:
    - port: 80
      targetPort: 80
